<ion-tabs>
  <ion-router-outlet />

  @if (!hideTabBar()) {
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="translate" href="/">
        <ion-icon aria-hidden="true" name="home" />
        <ion-label>{{ 'tabs.translate' | transloco }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings" href="/settings">
        <ion-icon aria-hidden="true" name="settings" />
        <ion-label>{{ 'tabs.settings' | transloco }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  }
</ion-tabs>
